

/* Start:/local/templates/jaqston/components/bitrix/menu/top/style.css?15923901344780*/
/**Top menu**/
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	background:#BC262C url(../../../../../../local/templates/jaqston/components/bitrix/menu/top/images/header_menu_bg.gif) repeat-x;
	min-height:27px;
	width:100%;
	list-style:none;
	font-size:11px;
	float:left;
	/*font-size:90%*/
}

#horizontal-multilevel-menu
{
	
}

/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}

#horizontal-multilevel-menu li 
{
	float:left;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	background:#fc8d3d;
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
	background:#e26336;
	color:#fff;
}

/*Item-parents*/
#horizontal-multilevel-menu a.parent
{
	background: url(../../../../../../local/templates/jaqston/components/bitrix/menu/top/images/arrow.gif) center right no-repeat;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url(../../../../../../local/templates/jaqston/components/bitrix/menu/top/images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover
{
	background:#D6D6D6;
	color:#fff;
}

/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	background:#D6D6D6;
	color:#fff;
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width:135px;
	background:#F5F5F5;
	border:1px solid #C1C1C1;
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
	width:100%;
	border-bottom:1px solid #DEDEDE;
}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	text-align:left;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:#4F4F4F;
	font-weight:bold;
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#4F4F4F;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}
/* End */


/* Start:/local/templates/jaqston/template_styles.css?159239013416794*/
html, body, form {
	margin: 0;
	padding: 0;
}

html {
	height:100%;
	/*display: -webkit-flex;
	display: flex;
	flex-direction: column;*/
}

body {
	height:auto !important;
	height:100%;
	min-height:100%;
	/*display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: auto;	*/
}

/*Font*/
body {
	font-size: 80%;
	font-family: "Open Sans", sans-serif !important;
	color: #454545;
	background:#3E4F60;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: #B4B4B4;	
	background: url(../../../../../../images/bg-main.jpg) left top repeat #FFFFFF;
  /*overflow: hidden;*/
}

/*Font in table*/
table {
	font-size:100%;
}

/*Links*/
a:link {color: #2775C7;text-decoration:none !important;}
a:visited{color:#8FA4BA;text-decoration:none !important;}
a:active {color: #2775C;text-decoration:none !important;}
a:hover{color:#CF1C3E;text-decoration:none !important;}


small {
	font-size:85%;
}

hr {
	width:100%;
	height: 1px;
	border: medium none;
	color: #d1d0d0;
	background-color: #d1d0d0;
	margin:8px 0;
}

header{
	min-height: 200px;
	width: 100%;
	/*max-width: 960px;
	min-width: 430px;*/
	margin: 0 auto 0;
	padding: 0px 0 10px;
	/*display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;*/
	justify-content: space-between;
	box-sizing: border-box;
}

#content {
	width: 100%;
	/*min-height: 200px;*/
	/*max-width: 960px;
	min-width: 430px;*/
	margin: auto;
	/*flex-grow: 1;*/
	box-sizing: border-box;
}
footer {
	width: 100%;
	/*max-width: 960px;
	min-width: 430px;*/
	margin: auto;
	padding: 15px;
	box-sizing: border-box;
}
footer {
	/*max-height:300px;*/
	background: url(../../../../../../images/footer-bg.jpg) center top;
  border-top: 1px solid #e5e5e5;
	padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #82592d;
	text-align:left;
}

footer a{
	transition: all 0.3s ease-in-out 0s;
}	
footer a:hover {
	color: #dbb25f;
}	
footer .block-title{
	position:relative;
	padding-bottom: 10px;
	color:#A37D30;
	transition: all 0.3s ease-in-out 0s;
}
footer .block-title:hover{
	color:#dbb25f;
	color:#fff;
}
footer .block-title:after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 25px;
  height: 2px;
  background-color: #A37D30;
}
footer .block-title:hover:after {
  background-color: #dbb25f;
	background-color:#fff;
}
#wrapper {
  background: url(../../../../../../images/bg-main-2.jpg) repeat-x center 191px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

#logo{
	color: #82592d;
  padding-top: 30px;
  padding-bottom: 10px;
  background: url(../../../../../../images/jaqston_logo.png) 0 25px no-repeat;
  background-size: 12%;
  position: relative;
  padding-left: 42px;
}
#logo a{
	color:#82592D !important;
}	
#logo a h1{
	font-weight: 700 !important;
  text-shadow: 2px 2px 2px #C89850;
	margin-bottom:5px;
}
#languages_block_top {
  position: absolute;
  right: 78px;
  top: 0;
  width: 32px;
}
#languages_block_top {
  right: 51px;
  width: 58px;
  height: 48px;
  background: url(../../../../../../images/border.png) repeat-y right top;
}
#languages_block_top p {
  padding-left: 10px;
  padding-top: 10px;
}
#currencies_block_top p.inner-carrencies, #languages_block_top p, .mobile-link-top h4 {
  color: #82592d;
  font-size: 15px;
  position: relative;
  font-weight: normal;
  font-family: Arial,Helvetica,sans-serif;
  margin-bottom: 0;
  text-transform: capitalize;
}
#countries_2 .countries_ul {
  right: 0;
  top: 48px;
}
#countries_2 .countries_ul, #setCurrency .currencies_ul {
  display: none;
  z-index: 1000;
  width: 140px;
  position: absolute;
  right: 0;
  top: 48px;
  list-style: none;
}
.list_header {
  background: #c99f4b;
}
#countries_2 .countries_ul li.selected {
  background: none repeat scroll 0 0 #8f6715;
  cursor: default;
  padding: 8px 0 8px 10px;
  color: #f8dca2;
}
.list_header li:first-child {
  border: none;
}
.list_header li {
  border-top: 1px solid #f6dba4;
}
#countries_2 .countries_ul li img {
  float: left;
  margin: 2px 10px 0 0;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#countries_2 .countries_ul li.selected span {
  cursor: default;
  font-weight: bold;
}
#countries_2 .countries_ul li span {
  display: block;
}
#countries_2 .countries_ul li span .firstWord {
  display: none;
}
.list_header li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  padding: 8px 5px 8px 10px;
  display: block;
  font-weight: bold;
}


/*lang menu*/
#languages_block_top {
  right: 51px;
  width: 58px;
  height: 48px;
  background: url(../../../../../../images/border.png) repeat-y right top,
		url(../../../../../../images/border.png) repeat-y left top;
}
#languages_block_top {
  position: absolute;
  right: 0;/*78px;*/
  top: 0;
  width: 60px;/*32px;*/
	cursor:pointer;
}
#languages_block_top p {
  padding-left: 10px;
  padding-top: 10px;
}
#languages_block_top p, .mobile-link-top h4 {
  color: #82592d;
  font-size: 15px;
  position: relative;
  font-weight: normal;
  font-family: Arial,Helvetica,sans-serif;
  margin-bottom: 0;
  text-transform: capitalize;
}
.arrow_header_top {
  background: url(../../../../../../images/main_sprite.png) 0 -77px no-repeat;
  width: 13px;
  height: 7px;
  position: absolute;
  right: 9px;
  top: 20px;
}
#countries_2 .countries_ul {
  right: 0;
  top: 48px;
  -webkit-padding-start: 0;
}
#countries_2 .countries_ul
#countries_2 .countries_ul li.selected {
  background: none repeat scroll 0 0 #8f6715;
  cursor: default;
  padding: 8px 0 8px 10px;
  color: #f8dca2;
}
.list_header li:first-child {
  border: none;
}
.list_header li {
  border-top: 1px solid #f6dba4;
}


/* search */
.search-wrapper{
	position:relative;
}
#search_but_id {
  display: block;
  height: 68px;
  width: 68px;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #674f39;
  border-right: 1px solid #674f39;
  cursor: pointer;
  z-index: 11;
}
#search_but_id em {
  background: url(../../../../../../images/search_top.png) no-repeat left top;
  display: block;
  width: 22px;
  height: 22px;
  margin-left: 22px;
  margin-top: 24px;
  position: relative;
  z-index: 10;
}
#search_but_id em:hover {
  background: url(../../../../../../images/search_top.png) no-repeat left bottom;
}
#search_but_id:hover em,.hover-search em {
	cursor:pointer;
	background-position:left bottom!important;
}
#search_block_top {
  position: absolute;
  top: 70px;
  right: 0;
  margin: 0 0 0 0;
  display: none;
  z-index: 3;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
}
#search_block_top p{
	margin:0;
}
#search_block_top a i {
  display: block;
  margin-left: 13px;
  margin-top: 13px;
  font-size: 18px;
}
#search_block_top a {
  padding: 0;
  border-top: 4px solid #dbb25f;
  background: #fff;
  color: #4c4c4c;
  display: block;
  float: left;
  width: 43px;
  height: 48px;
	position: absolute;
  top: 0;
  right: 0;	
}
#search_block_top label{
	display:none;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
.icon-search:before {
  content: "\f002";
}
#searchbox p:after {
  border-bottom: 12px solid #dbb25f;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
  right: 24px;
  position: absolute;
  top: -12px;
}
#search_block_top input.search_query {
  margin: 0;
  float: left;
  height: 48px;
  line-height: 20px;
  background: #fff;
  padding: 0 10px 0 10px;
  border: none;
  border-right: none;
  border-top: 4px solid #dbb25f;
  width: 227px;
  position: relative;
  vertical-align: middle;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-modify: read-write-plaintext-only;
}


/* menu */
#top-menu-wrapper {
	background: url(../../../../../../images/bg-main-2.jpg) repeat-x center;/* 191px;*/
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
}
.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
body#index #menu-wrap {
  margin-bottom: 40px;
}
#menu-wrap {
  background: none;
  position: relative;
  z-index: 2;
  height: 68px;
}	
#menu-custom {
  display: block;
}
#menu-custom {
  zoom: 1;
  float: left;
  background: url(../../../../../../images/menu-border.png) repeat-y right top;
}
#menu-custom:after {
	content:'';
	position:absolute;
	left:25px;
	top:-8px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid #e6ddb4;
}
#menu-custom, #menu-custom ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu-custom li {
  float: left;
  position: relative;
  background: url(../../../../../../images/menu-border.png) repeat-y left top;
  padding-left: 1px;
	line-height: 20px;
}
#menu-custom a {
  float: left;
  display: block;
  padding: 21px 22px 27px 21px;
  color: #FFFFFF;
  text-transform: none;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans',sans-serif;
  text-decoration: none;
}
#menu-custom a:hover,#menu-custom a.root-item-selected, #menu-custom > li:hover > a,#menu-custom > li.sfHoverForce > a {
	color:#dbb25f;
	/*border:none;
	background:none;
	padding:5px;*/
}
#menu-custom a:hover>span,
#menu-custom a.root-item-selected>span{
	position:relative;
}
#menu-custom a.root-item-selected>span:after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: '';
  width: 25px;
  height: 2px;
  background-color: #A37D30;
}
#menu-trigger {
  display: none;
}
#menu-custom, #menu-custom ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu-custom ul {
  border: 1px solid #e6ddb4;
  width: 270px;
}
#menu-custom ul {
  margin: 20px 0 0 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 68px;
  left: 0;
  z-index: 1;
  background: #e6ddb4;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.no-transition{
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
	opacity:1;
	visibility:visible;
	display:none}
#menu-custom li:hover > .no-transition{
	display:block
}
#menu-custom li:hover > ul {
opacity:1;
visibility:visible;
margin:0;
}
#menu-custom ul ul {
top:-1px;
left:270px;
}
#menu-custom ul li a {
  color: #82592d !important;
  /*display: block;
  height: 59px;
  line-height: 59px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  border: none;
  background: none;*/
}
#menu-custom ul li a:hover {
  color: #dbb25f !important;
}

#content h1 {
  color: #1c1c1c;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 0 15px 0;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  margin: 0 0 20px 0;
  background: url(../../../../../../images/border-2.png) repeat-x left bottom;
  line-height: 1.5;
  margin-bottom: 14px;
	text-align:left;
}
#content h2 {
  background: url(../../../../../../images/border-2.png) repeat-x left bottom;
  color: #1C1C1C;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  font-size: 17px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 15px 0 15px;
  line-height: 1.5;	
  text-transform: uppercase;
}
#content input[type="submit"] {
  color: #dbb25f;
  text-transform: none;
  font-weight: bold;
  font-size: 15px;
  margin-right: 2px;
  padding: 12px 23px 14px 24px;
  border: none;
  background: url(../../../../../../images/bg-main-2.jpg) right center;
  float: left;
  text-align: center;
}
/*a.btn_add_cart span {
background:none;
line-height:18px;
padding:0;
}*/
#content input[type="submit"]:hover {
	color:#FFF;
	background:#dbb25f;
}

/* contacts form */
.bx-yandex-map{
	width:552px;
	height:602px;
	border:1px solid #CEC4AC;
}
.contacts label {
	color:#82592d;
}	
.contacts .form-control{  
	border: 1px solid #CEC4AC;
}
.form-control:focus{
	border-color:#CEC4AC !important;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(109, 78, 15, 0.6) !important;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(109, 78, 15, 0.6) !important;
}
.contacts textarea{
	resize:vertical;
}
.contacts .col-lg-6{
	padding-left:0px;
}
.contacts img{
	position:relative;
	top: -1px;
  left: -1px;
	width:101%;
	min-width: 180px;
}	
.contacts .captcha-img{
	width: 178px;
  float: left;
  overflow: hidden;
  border: 1px solid #CEC4AC;
  border-radius: 4px;
  height: 40px;
  text-align: center;
	margin-right:15px;
	margin-bottom:15px;
}
.contacts input[name="captcha_word"]{
  width: 180px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 22px;
}

/* news */
.news-list h2{
	border-bottom:none;
	background:none !important;
	margin:0 !important;
}
.news-list .item-img{
	padding-top:20px;
}
.news-list hr{
  border-top: 1px solid #CEC4AC;
  width: 40%;	
	margin: 20px auto;
}

/* prices */
.prices-list {
	margin-top:25px;
}
.prices-list .table-bordered {
	font-size:85%;
  border: 1px solid #CEC4AC;
	border-color:#CEC4AC !important;
}
h2.aside-title{
	margin: 8px 0 20px !important;
}


/* .nav-catalog */
.nav-catalog {
  float: left;
  position: relative;
  background: url(../../../../../../images/menu-border.png) repeat-y left top;
  padding-left: 1px;
  line-height: 20px;
	width: 100%;
}
.nav-catalog li{
	background:none;
}
.nav-catalog li>a{
	padding: 10px 15px 10px 0 !important;
	font-weight:400;
}
.nav-catalog a {
  float: left;
  display: block;
  padding: 21px 22px 27px 21px;
  color: #824B10;
  text-transform: none;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans',sans-serif;
  text-decoration: none;
	background:none !important;
	background-color: transparent;
	margin-bottom:15px;
}
.nav-catalog a:link,
.nav-catalog a:visited{
color: #824B10;
}
.nav-catalog a:hover, 
.nav-catalog a.focus,
.nav-catalog li.active>a {	
  color: #dbb25f;
	background:none;
}
.nav-catalog li.active>a>span:after {
  position: absolute;
  bottom: 6px;
  left: 0;
  content: '';
  width: 25px;
  height: 2px;
  background-color: #dbb25f;
}
#catalog span.no-active {
	opacity:0.5;
}

/* catalog */
#catalog .nav-items{
	background-color: transparent;
}
#catalog .nav-items>li>span,	
#catalog .nav-items>li>a,
#catalog .nav-items>li>a:visited,
#catalog .nav-items>li>a.link {
	color:#1c1c1c;
	padding: 4px !important;
  padding: 4px 5px;
	background:none !important;
	display: block;
}
.icon-chevron-right{
	padding-right:10px;
	color:#dbb25f;
}
.icon-chevron-right:before {
  content: "\f054";
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.fa-filter:before {
  content: "\f0b0";
}


/* products */
.prod-list h2{
	border-bottom:none;
	background:none !important;
	margin:0 !important;
}
.prod-list .item-img{
	padding-top:20px;
}
.prod-list hr{
  border-top: 1px solid #CEC4AC;
  width: 40%;	
	margin: 20px auto;
}
#by_brand hr, #by_category hr{
  border-top: 1px solid #CEC4AC;
  width: 40%;	
	margin: 20px auto;
}
#by_category a:link, #by_category a:visited,
#by_brand a:link, #by_brand a:visited {
  color: #824B10;
}

.prod-list1 .row{
	margin-left:0 !important;
	margin-right:0 !important;
}
.prod-list1 h3{
	font-size: 16px;
	font-weight:bold;
	color: #1C1C1C;
}

#logo{
	text-align:left;
}
#logo span{
	font-size: 120%;
	text-shadow: 2px 2px 2px #C89850;
}

#map-button {
	position: absolute;
  top: 10px;
  right: 15px;
  border: 1px solid #000;
  margin-left: 10px;
  -webkit-box-shadow: inset 1px 1px 9px rgba(178,178,178,0.3);
  box-shadow: inset 1px 1px 9px rgba(178,178,178,0.3);
  border: 1px solid #b2b2b2;
  width: 40px;
  height: 40px;
  padding: 10px;
  background: url(../../../../../../images/cargo/maps.png) no-repeat;
  background-size: cover;
  cursor: pointer;
  opacity: 0.5;
}
#map-button:hover, #map-button:active, #map-button.active {
	opacity: 1;
}
#delivery-map img{max-width:60px;}

#phone-top-right {
  position: relative;
	top: 56px;
	font-size:130%;
	color: #82592d;
	background: url(../../../../../../images/phone-forward.png) left center no-repeat;
	padding-left: 60px;
  background-size: contain;
}
#phone-top-right span{color: #82592d;}
footer .block-title {margin-top: 0; color:#fff;}
footer .block-title:after {background-color:#fff;}
footer .block span{font-size:120%;color:#A37D30;}
footer .block ul>li{display:inline-block;margin-left:20px;}
footer .block ul>li>a{font-size:120%;color:#A37D30;}
footer .block ul>li>a:hover{color:#fff;}

.link-offer em{position:relative;bottom:-30px;}
.link-delivery em{position:relative;}
/* End */
/* /local/templates/jaqston/components/bitrix/menu/top/style.css?15923901344780 */
/* /local/templates/jaqston/template_styles.css?159239013416794 */
